name: Build

on: [push, pull_request]

jobs:
  build-windows:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: Build
        run: GOOS=windows GOARCH=amd64 go build -o mdldec-golang.exe

      - uses: actions/upload-artifact@v5
        with:
          name: mdldec-golang-windows
          path: mdldec-golang.exe
