name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - os: windows
            goos: windows
            ext: .exe
          - os: linux
            goos: linux
            ext: ""

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: Build
        run: GOOS=${{ matrix.goos }} GOARCH=amd64 go build -o mdldec-golang${{ matrix.ext }}

      - uses: actions/upload-artifact@v5
        with:
          name: mdldec-golang-${{ matrix.os }}
          path: mdldec-golang${{ matrix.ext }}
